.lat {
  font-family: "El Messiri", sans-serif !important;
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

.tags {
  background-color: rgb(211, 211, 211);
  color: rgb(32, 32, 32);
  font-size: 1.3rem;

  padding: 0.1em 1em;
  border-radius: 5px;
  margin: 1em;
}

.tags:hover {
  background-color: #0096e0;
  color: white;
  border-radius: 5px;
}

.tagsSelected {
  background-color: #0096e0;
  color: white;
  border-radius: 5px;
}
.products-hero {
  background-image: url("../../nirmala/produ.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  animation-duration: 750ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards !important;
  min-height: 645px;
}
.prod-hero-sm {
  display: none;
}
@media only screen and (max-width: 900px) {
  .products-hero {
    background-color: #fff !important;
    background-image: none !important;
    background-size: cover !important;
    background-position: center !important;
    animation-duration: 750ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards !important;
    min-height: auto !important;
    padding-right: 10% !important;
    padding-left: 3% !important;
  }
  .homebtn {
    box-shadow: 0 0 3px 3px rgba(211, 211, 211, 0.278);
  }
  .prod-hero-sm {
    display: block;
    height: 40vh;
    background-image: url("../../nirmala/prod-hero.jpg") !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat;
    margin-top: 15px;
  }
  .lat {
    font-size: 4rem;
  }

  .tags {
    font-size: 1rem;
    margin-right: 12px;
  }

  .productsMobile {
    display: none;
  }

  .productsMobileActive {
    display: inline-block;
    margin: 1em 0em 0em 0em;
  }

  .productsMobile div {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  .productsMobile div:hover {
    background-color: #7ac4e9;
    transition: 500ms;
    color: white;
  }

  .productsMobile div > i {
    align-self: center;
  }

  .productsMobile div > p {
    margin: 0em;
    color: inherit;
  }

  .productSubClass {
    display: none;
    padding: 0em 1em;
    text-align: center;
    position: absolute;
    top: 0;
    flex-direction: column;
    right: -2.5em;
    /*for small mobile*/
    background-color: gray;
    opacity: 1;
    z-index: 10;
    color: white;
    border-radius: 5px;
  }

  @media (min-width: 375px) {
    .productSubClass {
      right: -5.7em;
    }
  }

  @media (min-width: 425px) {
    .productSubClass {
      right: -7em;
    }
  }

  .productSubClass li {
    list-style: none;
    padding: 0.5em 0.5em 0.5em 0em;
    color: inherit;
  }

  .productSubClass li:hover {
    background-color: #0096e0;
  }

  .productSubClassActive {
    display: flex;
  }

  #productsHeading {
    display: none;
  }
}

.productPageLinksMobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.productPageLinksMobile li {
  list-style: none;
  cursor: pointer;
  background-color: rgb(187, 187, 187);
  color: rgb(27, 27, 27);
  padding: 0.2em 1em;
  border-radius: 5px;
  text-align: center;
}

.productPageLinksMobile li:hover {
  background-color: #7ac4e9;
  color: white;
}

.productPageLinksMobile li:last-child {
  position: relative;
  left: 50%;
}

.more-sm {
  display: initial;
}
@media (min-width: 900px) {
  .more-sm {
    display: none;
  }
  .productsMobile {
    display: none;
  }

  .productPageLinksMobile {
    display: none;
  }
}

#productsHeading > li {
  margin-bottom: 0.5em;
  margin-left: 0.7em;
}
